.homepage {
  color: $green;
  text-decoration: none;
}

.title {
  text-align: center;
}

.container {
  color: $green;
}

// Pokedex
.pokedex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

ul :hover {
  color: white;
}

// Content
.content {
  display: flex;
  flex-flow: row nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  height: 20em;
  border: solid;
  border-color: $green;
}

// Poke List
.pokemon-list {
  overflow: auto;
  scrollbar-color: $green gray;
  scrollbar-width: thin;
  width: 50%;
  border-right: 1px solid $green;
}

// Poke Details
.pokemon-detail {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: auto;
}

.poke-left {
  text-align: center;
  height: 50%;
  width: 50%;
}

img {
  filter: grayscale(1) brightness(0.5);
}

.poke-right {
  text-align: left;
  height: 50%;
  width: 50%;
}

h2 {
  padding-bottom: 0;
  margin-bottom: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

.poke-bottom {
  align-self: flex-end;
  width: 100%;
  height: 50%;
  text-align: center;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}
