.App {
  text-align: center;
}

.homepage {
  color: $off-white;
  text-decoration: none;
}

.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $off-white;
}

.App-link {
  color: $cerulean-blue;
}

.pokemon {
  display: flex;
  flex-direction: column;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  height: 110%;
}

.side {
  width: 23%;
}

.center {
  width: 50%;
}

.whole {
  width: 100%;
}

.type {
  align-self: center;
  margin-top: -5%;
}

#poke-id {
  float: right;
  font-size: .5em;
}

#name {
  margin-top: -15%;
  align-self: center;
  float: none;
}

.bot-border {
  border-bottom: solid;
}

.top-border {
  border-top: solid;
  border-radius: 3px;
}

.right-border {
  border-right: solid;
}

.left-border {
  border-left: solid;
}

.return {
  width: 25%;
  align-self: center;
  margin-top: -4.5%;
  border: solid $off-white;
}

.right {
  float: right;
}

.left {
  float: left;
}

.pokemon-list ul {
  padding: 0;
  list-style: none;
}

.pokemon-list li {
  display: block;
  align-self: center;
  width: 100%;
  padding-bottom: 5%;
  background-color: $cerulean-blue;

}

.pokemon-list ul li:hover {
  animation-name: moving;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  box-shadow: 1px 1px 5px $black;
}

@keyframes moving {
  0% { -moz-transform: rotate(0deg);}
  25% { -moz-transform: rotate(-5deg);}
  75% { -moz-transform: rotate(5deg);}
  100% { -moz-transform: rotate(0deg);}
}

.underline {
  text-decoration: underline;
}