body {
  background-color: $black;
  cursor: default;
}

table {
  align-self: center;
  width: 100%;
}

td {
  align-self: center;
}

hr {
  color: $off-white;
  width: 35%;
  border: 1px dashed;
  margin-top: -12.5%;
}
