body {
  background-color: #282c34;
}

.App {
  text-align: center;
  color: white;
  display: center;
}

.homepage {
  color: white;
  text-decoration: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pokemon {
  display: flex;
  flex-direction: column;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  height: 110%;
}

.side {
  width: 23%;
}

.center {
  width: 50%;
}

.whole {
  width: 100%;
}

.type {
  align-self: center;

}

#poke-id {
  float: right;
  font-size: .5em;
}

#name {
  margin-top: -15%;
  align-self: center;
  float: none;
}

.bot-border {
  border-bottom: solid;
}

.top-border {
  border-top: solid;
  border-radius: 3px;
}

.right-border {
  border-right: solid;
}

.left-border {
  border-left: solid;
}

hr {
  color: white;
  width: 35%;
  border: 1px dashed;
  margin-top: -12.5%;
}

.return {
  width: 25%;
  align-self: center;
  margin-top: -4.5%;
  border: solid white;
}

table {
  
}

td {
  align-self: center;
}

.right {
  float: right;
}

.left {
  float: left;
}